* {
  box-sizing: border-box;
  line-height: 1.4;
}
img {
  max-width: 100%;
  height: auto;
}
div {
  font-family: GeogrotesqueRegular,Arial,Helvetica,sans-serif;
  position: relative;
}

h2 {
  font-family: GeogrotesqueMedium,Arial,Helvetica,sans-serif;
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}
ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #009EE3;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

strong {
  font-family: GeogrotesqueSemibold,Arial,Helvetica,sans-serif;
}



#start {
  margin: 40px 200px 40px 200px;
  font-family: GeogrotesqueRegular,Arial,Helvetica,sans-serif;
  color: #009EE3;
  font-size: 20px;
  text-align: center;
  
}

@media (max-width: 768px) {
  #start {
    margin:  10px 0px;
  }

}

#cena {
  color: #009EE3;
  position: relative;
  padding: 20px;
  margin: 60px 150px 60px 150px;
  border: 1px solid #009EE3;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
}

@media (max-width: 768px) {
  #cena {
    margin:  10px 0px;
  }

}

#opis {
  margin: 40px 200px 40px 200px;
  font-family: GeogrotesqueRegular,Arial,Helvetica,sans-serif;
  color: #009EE3;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  #opis {
    margin:  10px 0px;
  }

}


#pdf {
  padding: 50px;
}

#pdfLink {
  padding: 10px;
}

@media (min-width:1025px) { 
  .displayn {
      display: none;
  }
  .inline {
    width: 25%;
    display: inline-block;
    margin: 10px;
}

}


.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.fonti {
  margin: 1px;
}
.item {
  font-size: 20px;
  
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.links {
    text-decoration: none;
    -moz-transition: color .1s ease-in-out 0s;
    -o-transition: color .1s ease-in-out 0s;
    -webkit-transition: color .1s ease-in-out;
    -webkit-transition-delay: 0s;
    transition: color .1s ease-in-out 0s;
    color: #009EE3;
}

.tumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;  
  padding: 5px;
  margin: auto;

}


.tumbnail:hover {
  box-shadow: 0 0 2px 1px #009EE3;
}

.aligncenter {
  text-align: center;
}

.top-left {
  text-align: left;
  position: relative;
  font-weight: 999;
}

.bottom-right {
  text-align: right;
  position: relative;
  font-weight: 999;
  font-size: 20px;
}

.bottom-left {
  text-align: left;
  position: relative;
  bottom: 8px;
  left: 50px;
  font-weight: 999;
}



.small-print {
  padding: 10px;
  background-color: 
  #F5F5F5;
  color: gray;
}
