h1 {
  position: relative;
  left: 20px;
  top: 80px;
  font-weight: normal;
  margin: 40px 0.5em;
  font-size: 80px;
  text-transform: uppercase;
}

span {
  position: relative;
  left: 20px;
  top: 50px;
  margin: 20px;
  padding: 0 15px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-size: 30px;
  border-radius: 2px;
}

@media (max-width: 768px) {
  span {
    font-size: 8px;
  }
 h1 {
   font-size: 30px;
   
 }
}